<!-- <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span id="menuTitle">Online Store</span>
    <a mat-button routerLink="/"><mat-icon>home</mat-icon>Home</a>
    <a mat-button routerLink="/"><mat-icon>info</mat-icon>Contacts</a>
    <a mat-button routerLink="/"><mat-icon>people</mat-icon>About us</a>
    <span class="example-spacer"></span>
  </mat-toolbar>

  <mat-sidenav-container>

    <mat-sidenav #sidenav mode="side" [fixedInViewport]="true" [fixedTopGap]="64" >
        <div class="side-nav-item">
            <div>
                <a mat-button routerLink="/" (click)="sidenav.close()" class="side-menu-item"><mat-icon>home</mat-icon>Home</a>
            </div>
            <div>
                <a mat-button routerLink="/" (click)="sidenav.close()" class="side-menu-item"><mat-icon>info</mat-icon>Contacts</a>
            </div>
            <div>
                <a mat-button routerLink="/" (click)="sidenav.close()" class="side-menu-item"><mat-icon>people</mat-icon>About us</a>
            </div>
        </div>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <div class="main-content">
         <router-outlet></router-outlet>
    
        </div>
    </mat-sidenav-content>
  
</mat-sidenav-container>
 -->
