#menuTitle {
    font-size: large;
    margin-left: 5px;
    margin-right: 25px;
}

.mat-sidenav {
    background-color: #3F51B5;
    width: 170px;
}

.side-nav-item {
    display: flexbox;
    flex-direction: column;
}

.side-menu-item {
    color: white !important;
    margin-top: 15px;
}

.main-content {

}