.example-full-width {
    padding-right: 40px;
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
.mat-mdc-form-field {
    margin-top: 16px;
  }

.mat-button {
  background-color: darkgray;
}

