<div>
<mat-card style="padding-top: 40px;">
    <mat-card-title style="text-align: center;">Welcome</mat-card-title>
    <mat-card-content >
        <div class="horizontal-center">
            <p>click here to login</p>
        </div>

            <div class="horizontal-center">
              <button mat-flat-button color="primary" type="button" routerLink="/login"><mat-icon>login</mat-icon>Login</button>
                </div>
          <br/>
                <div class="horizontal-center">
                    <p>--------------------or--------------------</p>
                </div>
    
                <div class="horizontal-center">
                  <p>click here to register;</p> 
                </div>
                <div class="horizontal-center">
                  <button mat-flat-button type="button" routerLink="/register" style="background-color: #b53f51;"><mat-icon>how_to_reg</mat-icon>Register</button>
                </div>
    </mat-card-content>
  </mat-card>
</div>