.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background-color: #45474B;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mat-mdc-card {
    margin: auto;
    width: 300px;  
    margin-bottom: 5px;
  }

  .mdc-card {
    padding-top: 10px;
    margin-top: 50px;
  }

