<div class="top-header">
  <span>OFFER 50 % DISCOUNT ON ALL PRODUCTS !!</span>
</div>
<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    (click)="sidenav.toggle()"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span id="menuTitle">eKart</span>
  <a mat-button routerLink="/products">Products</a>
  <a mat-button routerLink="/cart">My cart</a>
  <span class="example-spacer"></span>
  @if( userName != '') {
  <span>Hello, {{ userName }} &nbsp;&nbsp;</span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/cart"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/"
    (click)="logout()"
  >
    <mat-icon>logout</mat-icon>
  </button>

  }
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [fixedInViewport]="true" [fixedTopGap]="84">
    <div class="side-nav-item">
      <div>
        <a
          mat-button
          routerLink="/products"
          (click)="sidenav.close()"
          class="side-menu-item"
          >Products</a
        >
      </div>
      <div>
        <a
          mat-button
          routerLink="/cart"
          (click)="sidenav.close()"
          class="side-menu-item"
          >My cart</a
        >
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
